
custom-website-creater/src/app/website_data.json
custom-website-creater/src/app/website_settings.json
custom-website-creater/src/app/componetns/gallery/img
custom-website-creater/src/app/componetns/gallery/img/*
/custom-website-creater/src/app/componetns/gallery/img
/custom-website-creater/src/app/componetns/gallery/img/*