@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* create new CSS variable which are edited by or even added using the buildScript */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-landing: url("./icons/about.jpg");

  /* 
    colors not properly defined yet => standard color schemes maybe to choose
    would allow to easily change all colors depending on the wish of the customer 
    => the idea is to preselect a few coloring options and then let the customer choose which one he likes the most
  */
  --main-color: rgb(42, 0, 110);
  --secondary-color: rgb(31, 41, 55);
  --third-color: rgb(255, 255, 255);
  --surface-color: rgb(0, 0, 0);
  --onMain-color: rgb(255, 255, 255);
  --onSecondary-color: rgb(255, 255, 255);
  --onThird-color: rgb(0, 0, 0);
  --onSurface-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
  --onBackground-color: rgb(255, 255, 255);
  
  /* main focus on websit => can be removed here (to make it thiccc again) XD */
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding-top: 8vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  background: var(--main-color);
}

nav ul {
  list-style: none;
}

nav ul li {
  text-decoration: none;
  position: relative;
  opacity: 0.925;
}

nav ul li:hover {
  opacity: 1;
  transition: all 100ms ease 0s;
}

nav ul li:after {
  content: "";
  bottom: -4px;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: var(--onMain-color);
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

nav ul li:hover:after{
  width: 100%;
  opacity: 0.9; 
}

footer ul {
  list-style: none;
}

.hoverUnderlineEffect {
  text-decoration: none;
  position: relative;
  opacity: 0.8;
}

.hoverUnderlineEffect:hover {
  opacity: 1;
  transition: all 100ms ease 0s;
}

.hoverUnderlineEffect:after {
  content: "";
  bottom: -1px;
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: var(--onSecondary-color);
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.hoverUnderlineEffect:hover:after{
  width: 100%;
  opacity: 0.9; 
}

/* Selects every 2nd section */
section:nth-of-type(2n){
  background: var(--main-color);
}

#Landing{
  background-image: var(--background-landing);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#Landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headlineConfig{
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: var(--onBackground-color);
}

.headlineConfig:hover{
  opacity: 0.85;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* responsive */
.responsiveMobileHeader, .responsiveTabletHeader {
  display: none;
}

.burgerIcon {
  display: flex;
  height: fit-content;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
}

.burgerIcon div {
	width: 30px;
	height: 3px;
	background-color: var(--onMain-color);
}

.toggleDisplayNoneNavSlide {
  display: none !important;
}

.navSlide {
  transform: translateX(150%);
  transition: all 1s ease-in-out;
  display: none;
}

.navSlideTranslate{
  transform: translateX(0%);
}

.word-break{
  word-break: break-word;
}

@media (max-width: 1600px) {
  .singleServiceWrapper{
    flex-wrap: wrap;
    justify-content: start;
  }

  .singleServiceWrapper *{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .singleServiceWrapper button{
    margin-left: auto;
  }
}

@media (max-width: 1100px) {
  .adminPannelServiceListWrap{
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .responsiveDesktopHeader {
    display: none;
  }

  .responsiveTabletHeader {
    display: flex;
  }
  
  .burgerIcon {
    display: flex;
  }

  .navSlide{
    display: flex;
  }

  #Contact{
    grid-template-columns: auto 1fr 1fr;
  }

  #Contact div, ul{
    border: none;
  }

  .servicesContainer{
    grid-template-columns: 1fr 1fr;
    gap: 2.5%;
    justify-content: space-evenly;
  }

  .landingHeadline{
    max-width: 66%;
  }

  .landingHeadline h2{
    font-size: 3rem;
  }

  .singleServiceWrapper{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .singleServiceWrapper button{
    margin-left: unset;
  }
}

@media (max-width: 800px) {
  #Contact{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .landingHeadline{
    max-width: 70%;
  }

  .landingHeadline h2{
    font-size: 2.5rem;
  }

  .review{
    width: 40%;
  }
}


@media (max-width: 600px) {
  .responsiveTabletHeader {
    display: none;
  }

  .responsiveMobileHeader {
    display: flex;
  }

  .servicePreviewBox{
    margin-bottom: 5%;
  }

  .servicesContainer{
    display: flex;
    flex-direction: column;
  }
  
  .landingHeadline{
    max-width: unset;
    width: 90%;
    margin: 0 5%;
    left: 0;
  }

  .review{
    width: 80%;
  }

  .headlineConfig{
    font-size: 2.5rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .headline-footer{
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  p, a, span{
    font-size: 0.8rem !important;
  }
  .headlineConfig, .landingHeadline h2{
    font-size: 1.5rem !important;
  }
  body h3{
    font-size: 1.25rem !important;
  }
}


/* Animations */


@keyframes navLinksFade {
  from{
      opacity: 0;
      transform: translateX(200%);
  }to{
      opacity: 1;
      transform: translateX(0%);
  }
}